# Lecture 3: A Deeper Dive into SQL

## Welcome to Lecture 3!

Hello everyone! Today, we are going to continue our journey into Data Analysis. 

First, let's talk about **why** we are using this tool. This website is Google Colab, and we share these files using GitHub.

* **GitHub:** Think of this as a library or a shared folder for our code. It saves all our work and lets us share it easily. It is a very important tool for all data analysts and programmers.
* **Colab:** This is the 'notebook' we write in. It's special because it lets us write text (like this) and run code all in one place. It is a fantastic tool for learning and practicing.

## Quick Recap from Lecture 2

Let's quickly remember what we learned last time:

1.  **DBMS (Database Management System):** This is the *software* that helps us store, manage, and get data from a database. (Examples: MySQL, PostgreSQL, SQL Server).
2.  **RDBMS (Relational Database Management System):** This is the most common *type* of database. It stores data in tables that are linked to each other (they have a 'relationship').
3.  **`SELECT` Statement:** This is the 'get' command. It's how we *read* data.
    * `SELECT * FROM Customers;` (Get *all* columns from the Customers table).
    * `SELECT DISTINCT Country FROM Customers;` (Get the *unique* list of countries. No repeats!).
    * `SELECT COUNT(*) FROM Customers;` (Get the *total number* of rows, or customers).
4.  **`WHERE` Clause:** This is the 'filter' command. It lets us choose *which rows* we want.
    * `SELECT * FROM Customers WHERE Country = 'Germany';`

## What We Are Learning Today

Today is all about becoming SQL experts! We will learn all the most important keywords to filter, sort, change, and *combine* data.

By the end of this session, you will be able to answer very complex questions with your data.

**Today's topics:**
- More `WHERE` Clause Operators
- The `LIKE` Operator (for text patterns)
- `ORDER BY` (Sorting our results)
- `AND`, `OR`, and `NOT` (Combining filters)
- `INSERT`, `UPDATE`, `DELETE` (Changing data)
- `IS NULL` (Finding empty values)
- `JOIN`s (The most powerful tool in SQL!)
- `GROUP BY` (Summarizing our data)
- `HAVING` (Filtering our summaries)
- And some other useful keywords: `EXISTS`, `ANY`, `ALL`, and `SELECT INTO`.

## Our Demo Database

Just like in our last class, we will pretend we have a database for a small shop. All our examples will use these simple tables. We will use the W3Schools database for our live examples.



* **`Customers`** (CustomerID, CustomerName, Country)
* **`Products`** (ProductID, ProductName, Price)
* **`Orders`** (OrderID, CustomerID, OrderDate)
* **`OrderDetails`** (OrderDetailID, OrderID, ProductID, Quantity)

### 1. More `WHERE` Clause Operators

We already know we can use `=` (equals). But we can also use other operators to make better filters.

* `>` (Greater than)
* `<` (Less than)
* `>=` (Greater than or equal to)
* `<=` (Less than or equal to)
* `!=` or `<>` (Not equal to)
* `BETWEEN` (Finds a value inside a range)
* `IN` (Finds a value in a list)

**Example 1: Find all products with a price over $50.**
```sql
SELECT * FROM Products
WHERE Price > 50;
```

**Example 2: Find all products with a price between $10 and $20.**
```sql
SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20;
```

**Example 3: Find all customers who live in 'Germany' or 'UK'.**
```sql
SELECT * FROM Customers
WHERE Country IN ('Germany', 'UK');
```

### 2. The `LIKE` Operator

The `LIKE` operator is used with `WHERE` to search for a *pattern* in text.

We use two 'wildcards' (special symbols):
* **`%` (Percent):** Represents zero, one, or many characters.
* **`_` (Underscore):** Represents one single character.

**Syntax:**
```sql
SELECT * FROM TableName
WHERE ColumnName LIKE 'pattern';
```

**Example 1: Find all customers whose name *starts* with 'A'.**
```sql
SELECT * FROM Customers
WHERE CustomerName LIKE 'A%';
```

**Example 2: Find all customers whose name *ends* with 'a'.**
```sql
SELECT * FROM Customers
WHERE CustomerName LIKE '%a';
```

**Example 3: Find all customers where the *second* letter of their name is 'r'.**
```sql
SELECT * FROM Customers
WHERE CustomerName LIKE '_r%';
```

### 7. `JOIN`s (The Most Important Topic!)

A `JOIN` is used to **combine rows from two or more tables** based on a related column.

Why do we need this? Look at our tables:
* `Customers` table has `CustomerName`.
* `Orders` table has `OrderDate`.

**Question:** How can we see the *name* of the customer who made each order?

We `JOIN` the tables using their 'matching key'. In this case, it is `CustomerID`.



--- 
**`INNER JOIN`**

This is the most common join. It only shows rows that have a match in **both** tables.

**Example: Show all orders with the customer's name.**
```sql
SELECT Orders.OrderID, Customers.CustomerName
FROM Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;
```
*Explanation: This will only show customers *who have* placed an order. Customers with no orders will not be in this list.*

--- 
**`LEFT JOIN`**

This shows **all** rows from the *left* table (the first table, `Customers`), and any matching rows from the *right* table (`Orders`).

**Example: Show *all* customers, and any orders they have.**
```sql
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID;
```
*Explanation: This list will show *all* customers. If a customer has no orders, their `OrderID` will be `NULL`.*

--- 
**`RIGHT JOIN`**

This shows **all** rows from the *right* table (`Orders`), and any matching rows from the *left* table (`Customers`).

**Example: Show all orders, and the customer name for them.**
```sql
SELECT Orders.OrderID, Customers.CustomerName
FROM Customers
RIGHT JOIN Orders ON Customers.CustomerID = Orders.CustomerID;
```
*Explanation: This is less common. If an order had a CustomerID that was not in the `Customers` table, it would still show up here.*

--- 
**`FULL OUTER JOIN`**

This shows **all** rows from **both** tables. It will show matches where it can, and `NULL`s where it cannot.

**Example: Show all customers AND all orders.**
```sql
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID = Orders.CustomerID;
```
*Explanation: This shows customers with no orders, and orders with no customers (if that was possible).*

### 3. The `ORDER BY` Keyword

`ORDER BY` is used to *sort* the results. You can sort in two ways:

* **`ASC`** (Ascending): From A-Z, or 1-10. This is the default.
* **`DESC`** (Descending): From Z-A, or 10-1.

**Syntax:**
```sql
SELECT * FROM TableName
ORDER BY ColumnName ASC/DESC;
```

**Example 1: Get all products, sorted from highest price to lowest price.**
```sql
SELECT * FROM Products
ORDER BY Price DESC;
```

**Example 2: Get all customers, sorted by Country, then by Name.**
```sql
SELECT * FROM Customers
ORDER BY Country, CustomerName;
```
*Explanation: This will sort all the countries alphabetically (A-Z). Inside each country, it will then sort the names alphabetically.*

### 4. `AND`, `OR`, and `NOT` Operators

These operators let you combine multiple `WHERE` conditions.

* **`AND`**: *All* conditions must be true.
* **`OR`**: *At least one* condition must be true.
* **`NOT`**: Shows rows that *do not* meet the condition.

**Example 1: Find customers from 'Germany' AND whose name starts with 'A'.**
```sql
SELECT * FROM Customers
WHERE Country = 'Germany' AND CustomerName LIKE 'A%';
```

**Example 2: Find customers who are from 'Germany' OR 'Spain'.**
```sql
SELECT * FROM Customers
WHERE Country = 'Germany' OR Country = 'Spain';
```

**Example 3: Find all customers who are NOT from 'Germany'.**
```sql
SELECT * FROM Customers
WHERE NOT Country = 'Germany';
```

### 5. `INSERT`, `UPDATE`, `DELETE` (Changing Data)

These commands are very powerful and **dangerous**! They change or delete your data forever.

**WARNING: Always use a `WHERE` clause with `UPDATE` and `DELETE`.** If you forget, you will change or delete *all the rows* in your table!

--- 
**`INSERT INTO`**

This adds a *new row* to a table.

**Syntax:**
```sql
INSERT INTO TableName (Column1, Column2)
VALUES (Value1, Value2);
```

**Example: Add a new customer.**
```sql
INSERT INTO Customers (CustomerName, Country)
VALUES ('New Customer Name', 'India');
```

--- 
**`UPDATE`**

This *changes data* in a row that already exists.

**Syntax:**
```sql
UPDATE TableName
SET Column1 = Value1, Column2 = Value2
WHERE Condition;
```

**Example: Change a customer's country.**
```sql
UPDATE Customers
SET Country = 'Mexico'
WHERE CustomerID = 1;
```
*Explanation: This finds the customer with ID 1 and changes *only* their country to 'Mexico'.*

--- 
**`DELETE`**

This *removes* a row from a table.

**Syntax:**
```sql
DELETE FROM TableName WHERE Condition;
```

**Example: Delete a customer.**
```sql
DELETE FROM Customers
WHERE CustomerID = 1;
```
*Explanation: This finds and removes *only* the customer with ID 1.*

### 6. `IS NULL` and `IS NOT NULL`

What is `NULL`? A `NULL` value means 'empty' or 'no value'. It is not the same as `0` or an empty string `''`.

You cannot use `WHERE Country = NULL`. It will not work!
You must use `IS NULL` or `IS NOT NULL`.

**Example: Find all customers who do not have a value in the 'Region' column.**
```sql
SELECT * FROM Customers
WHERE Region IS NULL;
```

### 8. The `GROUP BY` Keyword

The `GROUP BY` keyword is used to *summarize* your data. It puts rows into 'groups' (or 'buckets') and then runs a function on each group.

It is almost always used with **Aggregate Functions**:
* `COUNT()`: Counts the number of rows in the group.
* `SUM()`: Adds up all the values in the group.
* `AVG()`: Gets the average value of the group.
* `MAX()`: Finds the highest value in the group.
* `MIN()`: Finds the lowest value in the group.

**Example 1: How many customers are in each country?**
```sql
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country;
```
*Explanation: This puts all customers into 'country' buckets (one for Germany, one for UK, etc.) and then counts how many are in each bucket.*

**Example 2: How much money did we make from each product?**
```sql
SELECT ProductID, SUM(Quantity * Price) AS TotalSales
FROM OrderDetails
JOIN Products ON OrderDetails.ProductID = Products.ProductID
GROUP BY ProductID;
```
*This is a more complex example. It joins tables, then groups by product to sum up the total sales for each one.*

### 9. The `HAVING` Keyword

`HAVING` is a filter, just like `WHERE`. But there is one big difference:

* You use `WHERE` to filter rows *before* they are grouped.
* You use `HAVING` to filter groups *after* they are grouped.

**Syntax:**
```sql
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 5;
```
**Example: Show all countries that have *more than 5* customers.**
*Explanation: We first group all countries to get the count. Then, `HAVING` filters those results to only show us the groups (countries) where the count is more than 5.*

### 10. `EXISTS`, `ANY`, and `ALL` Operators

These are advanced operators that are used with a 'subquery' (a `SELECT` statement inside another `SELECT` statement).

**`EXISTS`**

`EXISTS` is a True/False check. It checks if the subquery returns *any* rows.

**Example: Show all customers who *have* placed an order.**
```sql
SELECT CustomerName
FROM Customers
WHERE EXISTS (
  SELECT 1 FROM Orders
  WHERE Orders.CustomerID = Customers.CustomerID
);
```
*Explanation: For each customer, it runs the subquery. If the subquery finds *at least one* order, `EXISTS` becomes True and the customer's name is shown.*

---
**`ANY` and `ALL`**

These operators compare a value to *every value* in a subquery's result.

* **`ANY`**: Returns True if *any* of the subquery values meet the condition.
* **`ALL`**: Returns True if *all* of the subquery values meet the condition.

**Example (`ANY`): Find any product that is more expensive than *any* product from Supplier 1.**
```sql
SELECT ProductName
FROM Products
WHERE Price > ANY (
  SELECT Price FROM Products WHERE SupplierID = 1
);
```

**Example (`ALL`): Find the product that is more expensive than *all* products from Supplier 1.**
```sql
SELECT ProductName
FROM Products
WHERE Price > ALL (
  SELECT Price FROM Products WHERE SupplierID = 1
);
```

### 11. The `SELECT INTO` Statement

This statement copies data from one table and puts it into a *new* table.

**Note:** This is very useful for making a quick backup before you use `DELETE` or `UPDATE`!

**Syntax:**
```sql
SELECT * INTO NewTableName
FROM OldTableName
WHERE Condition;
```

**Example: Create a new table called `Customers_Germany` with only the German customers.**
```sql
SELECT * INTO Customers_Germany
FROM Customers
WHERE Country = 'Germany';
```
*Explanation: This will create a brand new table (that did not exist before) called `Customers_Germany` and fill it with all the customers from Germany.*

## Lecture 3 - Conclusion

Great job today! That was a *lot* of information, but you now know the most important and powerful parts of SQL.

**What we learned:**
- How to filter with advanced operators (`BETWEEN`, `LIKE`, `IN`).
- How to sort our data (`ORDER BY`).
- How to change data (`INSERT`, `UPDATE`, `DELETE`).
- How to find empty values (`IS NULL`).
- **Most importantly:** How to combine tables with `JOIN`s.
- How to summarize data (`GROUP BY`) and filter those summaries (`HAVING`).

**Practice is the most important thing!** Please take these queries and try them on the W3Schools website. Change them, break them, and learn from them.

In our next lecture, we will start using all these skills in Python!