<a href="https://colab.research.google.com/github/YogeshwaranJ/Data-Analytics-Foundations/blob/main/Lectures/Lecture_4_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 4: SQL Joins and Database Creation (DDL)

## Welcome to Lecture 4!

Hello everyone! In our last lecture, we learned many powerful commands to filter, sort, and group data. We also talked a little about `JOIN`s.

Today, we are going to become **masters** of `JOIN`s. I will show you exactly how they work with simple 'before' and 'after' examples.

After that, we will learn a new, very important part of SQL called **DDL (Data Definition Language)**. This is how we *build* the database itselfâ€”how to create tables, change them, and add rules.

**Our Plan Today:**
1.  A Deep Dive into all `JOIN` types (with clear examples).
2.  Learn DDL: `CREATE`, `ALTER`, `DROP`, and `TRUNCATE`.
3.  Learn about `Constraints`: The rules that protect our data.

**How to Practice:**
I will be showing you how to do this live using a free tool called **DBeaver** and a database called **SQLite**. You can download these at home to practice building your own databases!

## Part 1: A Deep Dive into JOINs

**Why do we need JOINs?** We store data in *many* tables to avoid repeating ourselves. A `JOIN` is how we put that data back together to get answers.

Let's use two simple tables for all our examples.

**Table 1: `Employees`**
| EmployeeID | Name | DepartmentID |
|:---|:---|:---|
| 1 | Ana | 101 |
| 2 | Ben | 102 |
| 3 | Clara | 101 |
| 4 | Dan | `NULL` |

**Table 2: `Departments`**
| DepartmentID | DeptName |
|:---|:---|
| 101 | Sales |
| 102 | HR |
| 103 | Engineering |

### 1. `INNER JOIN` (The most common join)

An `INNER JOIN` only shows rows that have a match in **both** tables.

* Notice **Dan** is not in the result, because his `DepartmentID` is `NULL` (no match).
* Notice **Engineering** is not in the result, because no employee is in that department (no match).

**Syntax:**
```sql
SELECT Employees.Name, Departments.DeptName
FROM Employees
INNER JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
```

**Result (The "After" Table):**
| Name | DeptName |
|:---|:---|
| Ana | Sales |
| Ben | HR |
| Clara | Sales |

### 2. `LEFT JOIN`

A `LEFT JOIN` shows **all** rows from the **left** table (Employees), and any matches it finds in the right table (Departments).

* Notice **Dan** *is* in the list now! His `DeptName` is `NULL` because he has no match.
* **Engineering** is still not in the list, because it's not in the *left* table.

**Syntax:**
```sql
SELECT Employees.Name, Departments.DeptName
FROM Employees
LEFT JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
```

**Result (The "After" Table):**
| Name | DeptName |
|:---|:---|
| Ana | Sales |
| Ben | HR |
| Clara | Sales |
| Dan | `NULL` |

### 3. `RIGHT JOIN`

A `RIGHT JOIN` shows **all** rows from the **right** table (Departments), and any matches it finds in the left table (Employees).

* Notice **Engineering** *is* in the list now! Its `Name` is `NULL` because no employee has that ID.
* **Dan** is not in the list, because he is not in the *right* table.

**Syntax:**
```sql
SELECT Employees.Name, Departments.DeptName
FROM Employees
RIGHT JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
```

**Result (The "After" Table):**
| Name | DeptName |
|:---|:---|
| Ana | Sales |
| Ben | HR |
| Clara | Sales |
| `NULL` | Engineering |

**Important Note for SQLite/DBeaver:** `SQLite` does not have a `RIGHT JOIN` command. To get the same result, you just use a `LEFT JOIN` and **swap the tables**!
Example: `FROM Departments LEFT JOIN Employees ON ...`

### 4. `FULL OUTER JOIN`

A `FULL OUTER JOIN` shows **all** rows from **both** tables. It shows matches where it can, and `NULL`s for all non-matches.

* Notice **Dan** is in the list.
* Notice **Engineering** is *also* in the list.

**Syntax:**
```sql
SELECT Employees.Name, Departments.DeptName
FROM Employees
FULL OUTER JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
```

**Result (The "After" Table):**
| Name | DeptName |
|:---|:---|
| Ana | Sales |
| Ben | HR |
| Clara | Sales |
| Dan | `NULL` |
| `NULL` | Engineering |

**Note for SQLite:** `SQLite` also does not have `FULL OUTER JOIN`. It is less common, and you can get the same result by doing a `LEFT JOIN` and a `RIGHT JOIN` (using the `LEFT JOIN` trick) and combining them, but that is very advanced.

### 5. `CROSS JOIN` (Cartesian Join)

A `CROSS JOIN` matches **every row** from the left table with **every row** from the right table. It does *not* use `ON`. It is used to get all possible combinations.

* **Be careful!** If you have 1,000 employees and 100 departments, this will give you 100,000 rows!
* (Our 4 Employees * 3 Departments = 12 rows)

**Syntax:**
```sql
SELECT Employees.Name, Departments.DeptName
FROM Employees
CROSS JOIN Departments;
```

**Result (The "After" Table):**
| Name | DeptName |
|:---|:---|
| Ana | Sales |
| Ana | HR |
| Ana | Engineering |
| Ben | Sales |
| Ben | HR |
| Ben | Engineering |
| Clara | Sales |
| Clara | HR |
| Clara | Engineering |
| Dan | Sales |
| Dan | HR |
| Dan | Engineering |

## Part 2: Data Definition Language (DDL)

So far, we have been *using* tables. Now, we will learn how to *build* them.

DDL commands (`CREATE`, `ALTER`, `DROP`) are used to build and change the *structure* of the database. Think of it as building the 'house' before you put 'people' (the data) inside.

### 1. `CREATE DATABASE`

This command creates a new, empty database.

**Syntax:**
```sql
CREATE DATABASE MyNewDatabase;
```
**Note for SQLite/DBeaver:** This is a little different in our tool. In DBeaver, you don't run this command. You create a new database by:
1.  Clicking the 'New Connection' plug icon.
2.  Choosing `SQLite`.
3.  Giving it a *file name* (like `MyNewDatabase.db`).

Your `.db` file *is* your database. This is a key part of how SQLite works.

### 2. `CREATE TABLE`

This is the most important DDL command. It builds a new table. We must give it:
1.  A name for the table (e.g., `Students`).
2.  A list of columns.
3.  A **data type** for each column (what kind of data it holds).

**Common Data Types:**
* `INT`: Whole numbers (e.g., `25`)
* `TEXT` or `VARCHAR(100)`: Text. The number `(100)` is the max length.
* `REAL` or `DECIMAL(5, 2)`: Numbers with decimal points (e.g., `12.99`).
* `DATE` or `DATETIME`: To store dates and times.

**Syntax & Example:**
```sql
CREATE TABLE Students (
    StudentID INT,
    StudentName TEXT,
    Major TEXT,
    EnrollmentDate DATE
);
```

### 3. `ALTER TABLE`

`ALTER TABLE` is used to *change* a table that already exists. You can add, delete, or change columns.

**Example 1: Add a new column**
```sql
ALTER TABLE Students
ADD COLUMN Gpa REAL;
```

**Example 2: Delete a column**
```sql
ALTER TABLE Students
DROP COLUMN Major;
```

**Example 3: Rename a column (May be different in some databases)**
```sql
ALTER TABLE Students
RENAME COLUMN Gpa TO GradePointAverage;
```

### 4. `DROP TABLE`

This command **deletes an entire table**. It deletes the structure, all the data, and all the rules. It is very dangerous and **cannot be undone!**

**Syntax:**
```sql
DROP TABLE Students;
```

### 5. `TRUNCATE TABLE`

This command deletes **all the data** inside a table, but the table *structure* (the columns and rules) stays. It is much faster than `DELETE` if you want to empty a table.

**Syntax:**
```sql
TRUNCATE TABLE Students;
```
**Note for SQLite:** `SQLite` does not have `TRUNCATE`. You use `DELETE FROM Students;` (without a `WHERE` clause). It works the same way.

### The Big Question: `DROP` vs. `TRUNCATE` vs. `DELETE`

This is a classic interview question!

* `DELETE`: Deletes rows. You can use `WHERE` to choose *which* rows. It is slow.
    * `DELETE FROM Students WHERE StudentID = 1;`

* `TRUNCATE`: Deletes *all* rows at once. You cannot use `WHERE`. It is very fast.
    * `TRUNCATE TABLE Students;`

* `DROP`: Deletes the *entire table*. The table is gone forever.
    * `DROP TABLE Students;`

## Part 3: Constraints (The Database "Rules")

**Constraints** are rules that you add to your columns to keep your data clean and reliable. You set them when you `CREATE TABLE`.

**Why?** To stop bad data! For example, you can stop someone from adding a Student with no name, or two students with the *same* ID.

**Here are the most important constraints:**

* `PRIMARY KEY`: This is the main ID for the row. It **must be unique** and **cannot be `NULL`**. (e.g., `StudentID`).

* `FOREIGN KEY`: This is the 'link' *between* tables. It is a `PRIMARY KEY` from another table. This is what makes our `JOIN`s work!

* `NOT NULL`: This column *must* have a value. It cannot be empty. (e.g., `StudentName` cannot be `NULL`).

* `UNIQUE`: All values in this column must be different from each other (e.g., `Email`).

* `DEFAULT`: If you don't give a value, it will use this 'default' one (e.g., `DEFAULT 'Active'`).

* `CHECK`: A custom rule you create (e.g., `CHECK (Age >= 18)`).

### Example: `CREATE TABLE` with Constraints

Let's look at a *good* `CREATE TABLE` command that uses these rules.

```sql
CREATE TABLE Users (
    UserID INT PRIMARY KEY,  -- The main ID
    Email TEXT NOT NULL UNIQUE, -- Must have an email, and it must be unique
    Age INT CHECK (Age >= 18), -- Must be 18 or older
    Status TEXT DEFAULT 'Active' -- If you add a user, their status is 'Active'
);

CREATE TABLE Posts (
    PostID INT PRIMARY KEY,
    PostText TEXT NOT NULL,
    UserID INT,  -- This will be our foreign key
    
    -- This line creates the 'link' to the Users table
    FOREIGN KEY (UserID) REFERENCES Users(UserID)
);
```
*Explanation: The `FOREIGN KEY` in the `Posts` table connects `Posts.UserID` to `Users.UserID`. This means you cannot add a post for a `UserID` that does not exist in the `Users` table. This keeps your data clean!*

## Lecture 4 - Conclusion

Great work! This was a very important lecture.

**What we learned:**
1.  We are now **masters of `JOIN`s** and can see exactly how `INNER`, `LEFT`, `RIGHT`, `FULL`, and `CROSS` joins work.
2.  We learned **DDL**, the commands to *build* a database (`CREATE TABLE`), change it (`ALTER TABLE`), and delete it (`DROP TABLE`).
3.  We learned about **Constraints** (like `PRIMARY KEY` and `FOREIGN KEY`), which are the rules that protect our data and make it reliable.

**For next time:**
Practice what I showed you in DBeaver. Try to create these `Users` and `Posts` tables with all the constraints. Then, try to `INSERT` data that breaks the rules (e.g., an age of 15) and see what error you get!

In our next lectures, we will learn more advanced functions.